<html>
    <head>
        <title>Account details</title>
        <meta charset="utf-8">
        <meta  name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="manifest" href="http://localhost:5000/manifest.json" />
        <!-- <link rel="manifest" href="https://htobacco.herokuapp.com/manifest.json" /> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <style>
            *{
                line-height: 0.5rem;
            }
          .avatar {
            margin-top:20px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        </style>
        </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div style="display: flex;">
              <div  class="navbar-header">
                <a style="color:white;" class="navbar-brand" href="/">Tarbanglow Chilly Paratha Cup</a>
                
                <h5 style="color:white;margin-left: 15px;">Total Due = Rs.<%= tcm %></h5>
                <h5 style="color:white;margin-left: 15px;">Total Collection = Rs.<%= acm %></h5>
              
               <div class="add_data" style="display: flex";>
                <h5 style="color:white;margin-left: 15px;">Total players = <%= totalPlayers %></h5>
                <h5 style="color:white;margin-left: 15px;">Players attend = <%= playersAttend %></h5>
               </div>
              </div>
            </div>
            </div>
          </nav>
          <nav class="navbar navbar">
            <div class="container-fluid">
                <div style="display: flex;">
              <div  class="navbar-header">
                <div style="margin-left:10px;">
                  <button class="btn btn-success btn-sm navbar-btn"><a href="/battingStats"  style="color:white;">Batting</a></button>
                </div>
                
              </div>
              <div style="margin-left: 80px;">
                <button class="btn btn-primary btn-sm navbar-btn"><a href="/battingAverage" style="color:white;">Average</a></button>
              </div>
              <div style="margin-left: 80px;">
                <button class="btn btn-primary btn-sm navbar-btn"><a href="/bowlingStats" style="color:white;">Bowling</a></button>
              </div>
            </div>
            </div>
          </nav>
          <div class="container">
            <% if(error && error.length>0){ %>
            <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
            <% } %>
            <% if(success && success.length>0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
            <% } %>
        </div>
          <div class="container">
            <form autocomplete="off" action="/search" method="GET" class="form-inline">
              <div class="form-group">
                <input class="form-control" type="text" name="search" placeholder="Search dealer">
                <input style="margin-top:20px;margin-left:40%;" type="submit" value="Search" class="btn btn-primary btn-sm">
              </div>
          </form>
          </div>
          <div class="row">
           
            <% players.forEach((d) => { %>
        
              <div class="card" style="margin:auto;display:flex;width:30rem;box-shadow: 5px 10px 18px #888;padding:10px;margin-top:10px;">
                  <div style="width:40%;" class="avt">
                    <img src="<%= d.avatar %>" alt="Avatar" class="avatar">
                  </div>
                  <div class="details">
                    <h4><span> <%= d.name %> </span>  </h4>
                    <h5  id="<%= d._id %>"  >Win:<%=d.won %>  |||  Lost:<%=d.lost %> </h5>
                    <h5>Amount Due: Rs.<%= d.lost * 10 %></h5>
                    <h5  class="<%= d._id %>" >Matches Played: <%= d.matches %></h5>
                    <button class="btn btn-primary btn-sm"><a href="/viewStats/<%= d._id %>" data-value="<%= d._id %>"  style="color:white;">View Stats</a></button>
                  </div>
                </div>
          <% }) %>


          </div>








          <!-- <div class="row text-center">
           
            <% players.forEach((d) => { %>
        
              <div class="card" style="width:30rem;margin-left:50px;box-shadow: 5px 10px 18px #888;padding:2px;">
                  <div class="card-body">
                   
                    <h4 class="card-title" ><span style="margin-right:50px" class="glyphicon"> <img src="<%= d.avatar %>" alt="Avatar" class="avatar"> <%= d.name %> </span>  </h4>
                    <h5  id="<%= d._id %>" class="glyphicon glyphicon-plus card-subtitle mb-2 text-muted" >Win:<%=d.won %>  </h5>
                    <h5  id="<%= d._id %>" class="glyphicon glyphicon-plus card-subtitle mb-2 " style="margin-left: 15px;" >Lost:<%=d.lost %>  </h5>
                    <br>
                    <h5  id="<%= d._id %>" class="glyphicon glyphicon-plus mb-2" >Manofthematches:<%=d.Man_of_the_match %></h5>
                    <h5  class="card-text <%= d._id %>" >Matches Played: <%= d.matches %></h5>
                    <button class="btn btn-primary btn-sm"><a href="/viewDetail/<%= d._id %>" data-value="<%= d._id %>"  style="color:white;">View transactions</a></button>
                  </div>
                </div>
          <% }) %>


          </div> -->
        <script src="/rsw.js" ></script>
 


    </body>
</html>